<!-- Main View -->
<script type="text/ng-template" id="countdownMain.html">
    <widget-search label="Search" placeholder="Search for a countdown timer..." search-results-title="Search Results:" data="countdowns" min-char="0" fields="['name','deadline']">
        <div class="item">
            <span>
                <button class="button button-positive" ng-click="createNew()">
                    Create New Countdown
                </button>
                <button class="button" ng-click="favorites = !favorites" ng-class="favorites?'button-stable':'button-positive'">
                    Favorites ({{getFavoriteCount()}})
                </button>
            </span>
        </div>
        <widget-searching>
            <widget-list list="item in searchResults.value | orderBy : 'timeremaining' | filter : {favorite: favorites?true:undefined} track by item.id" show-items="5" render="true">
                <div class="item item-icon-right" ng-click="showDetails(item)">
                    <strong>{{item.remaining}}</strong>
                    <p>{{item.favorite?'&#9733; ':''}}{{item.name}}</p>
                    <i class="icon icon-angle-right"></i>
                </div>
            </widget-list>
        </widget-searching>
        <widget-not-searching>
            <widget-list list="item in countdowns.value | orderBy : 'timeremaining' | filter : {favorite: favorites?true:undefined} track by item.id" show-items="5" render="true">
                <div class="item item-icon-right" ng-click="showDetails(item)">
                    <strong>{{item.remaining}}</strong>
                    <p>{{item.favorite?'&#9733; ':''}}{{item.name}}</p>
                    <i class="icon icon-angle-right"></i>
                </div>
            </widget-list>
        </widget-not-searching>
    </widget-search>
</script>

<!-- Details View -->
<script type="text/ng-template" id="countdownDetails.html">
    <div class="item item-divider">
        <strong>{{detailsItem.value.name}}</strong>
        <span class="controls">
        	<i class="icon icon-lg icon-edit" ng-click="editCountdown(detailsItem.value)"></i>
        	<i class="icon icon-lg icon-cancel-circled" ng-click="deleteCountdown(detailsItem.value)"></i>
        	<i class="icon icon-lg" ng-class="detailsItem.value.favorite?'icon-star':'icon-star-empty'" ng-click="toggleFavorite(detailsItem.value)"></i>
        </span>
    </div>
    <div class="item item-text-wrap">
        <p>
            {{detailsItem.value.remaining}}
        </p>
    </div>
    <div class="item item-text-wrap">
        <p>
            {{detailsItem.value.deadline | momentDate : 'MMMM DD YYYY, h:mm'}}
        </p>
    </div>
</script>

<!-- New Countdown View -->
<script type="text/ng-template" id="countdownNew.html">
    <div class="item item-divider">
        Create New Countdown
    </div>
    <div class="item">
        <form class="list" onsubmit="false">
            <label class="item item-input">
                <input type="text" ng-model="newCountdown.name" class="form-control" id="countdownName" placeholder="Name" />
            </label>
            <label class="item item-input">
                <input type="date" ng-model="newCountdown.deadline" class="form-control" id="countdownDate" placeholder="Date" />
            </label>
            <label class="item item-input">
                <label for="countdownTime">Time</label>
                <input type="time" ng-model="newCountdown.deadline" class="form-control" id="countdownTime" placeholder="Time" />
            </label>
            <button type="submit" ng-click="createCountdown(newCountdown)" class="button button-block button-balanced">Save</button>
        </form>
    </div>
</script>

<!-- Edit Countdown View -->
<script type="text/ng-template" id="countdownEdit.html">
    <div class="item item-divider">
        Editing: {{countdownEdit.name}}
    </div>

    <div class="item">
        <form class="list" onsubmit="false">
            <label class="item item-input">
                <input type="text" ng-model="countdownEdit.name" class="form-control" id="countdownName" placeholder="Name" />
            </label>
            <label class="item item-input">
                <input type="date" ng-model="countdownEdit.deadline" class="form-control" id="countdownDate" placeholder="Date" />
            </label>
            <label class="item item-input">
                <label for="countdownTime">Time</label>
                <input type="time" ng-model="countdownEdit.deadline" class="form-control" id="countdownTime" placeholder="Time" />
            </label>
            <div class="button-bar">
                <button type="submit" ng-click="saveEdit(countdownEdit)" class="button button-balanced">Save</button>
                <button type="button" ng-click="cancelEdit(countdownEdit)" class="button button-assertive">Cancel</button>
            </div>
        </form>
    </div>
</script>