<!-- Primary template that will get shown when widget loads -->
<script type="text/ng-template" id="countdownMain.html">
    <widget-row>
        <widget-cell ng-repeat="item in countdowns.value | filter: {favorite: true}" clickable ng-click="showDetails(item)">
            <h2>{{item.remaining}}</h2> {{item.name}}
        </widget-cell>
    </widget-row>
    <wr>
        <wc fill>
            <div ng-click="createNew()" class="btn btn-primary">
                Create New Countdown
            </div>
        </wc>
    </wr>
    <widget-row ng-repeat="item in countdowns.value" clickable ng-click="showDetails(item)">
        <widget-cell fill>
            <div class="itemName">{{item.name}}</div>
            <div class="pDetails">{{item.remaining}}</div>
        </widget-cell>
        <widget-cell>
            <widget-icon name="angle-right"></widget-icon>
        </widget-cell>
    </widget-row>
</script>

<script type="text/ng-template" id="countdownNew.html">
    <widget-row>
        <widget-cell>
            <h2>Create New Countdown</h2>
        </widget-cell>
    </widget-row>

    <widget-row>
        <widget-cell>
            <div class="form-group">
                <label for="countdownName">Name</label>
                <input type="text" ng-model="newCountdown.name" class="form-control" id="countdownName" placeholder="Name" />
            </div>
            <div class="form-group">
                <label for="countdownDate">Date</label>
                <input type="date" ng-model="newCountdown.deadline" class="form-control" id="countdownDate" placeholder="Date" />
            </div>
            <div class="form-group">
                <label for="countdownTime">Time</label>
                <input type="time" ng-model="newCountdown.deadline" class="form-control" id="countdownTime" placeholder="Time" />
            </div>
            <div class="form-group">
                <button ng-click="createCountdown(newCountdown)" class="btn btn-primary">Create</button>
            </div>
        </widget-cell>
    </widget-row>
</script>

<!-- This template gets shown when user clicks one of the items in the list -->
<script type="text/ng-template" id="countdownDetails.html">
    <!-- 'wr' and 'wc' are short for 'widget-row' and 'widget-cell' -->
    <wr>
        <wc fill>
            <h2>{{detailsItem.value.name}}</h2>
        </wc>
        <wc clickable ng-click="deleteCountdown(detailsItem.value)">
            <widget-icon name="trash-empty"></widget-icon>
        </wc>
        <wc clickable ng-click="toggleFavorite(detailsItem.value)">
            <widget-icon name="{{detailsItem.value.favorite?'star':'star-empty'}}"></widget-icon>
        </wc>
    </wr>
    <wr>
        <wc>
            <div class="pDetails">
                {{detailsItem.value.remaining}}
            </div>
        </wc>
    </wr>
    <wr>
        <wc>
            {{detailsItem.value.deadline}}
        </wc>
    </wr>
</script>