<!-- Main View -->
<script type="text/ng-template" id="countdownMain.html">
    <widget-search label="Search" placeholder="Search for a countdown timer..." search-results-title="Search Results:" data="countdowns" min-char="0" fields="['name','deadline']">
        <wr>
            <wc fill>
                <div ng-click="createNew()" class="btn btn-primary">
                    Create New Countdown
                </div>
                <div ng-click="favorites = !favorites" ng-class="favorites?'btn-default':'btn-primary'" class="btn ">
                    Favorites ({{getFavoriteCount()}})
                </div>
            </wc>
        </wr>
        <widget-searching>
            <widget-list list="item in searchResults | orderBy : 'timeremaining' | filter : {favorite: favorites?true:undefined} track by item.id" show-items="5">
                <widget-row>
                    <wc clickable ng-click="toggleFavorite(item)">
                        <widget-icon name="{{item.favorite?'star':'star-empty'}}"></widget-icon>
                    </wc>
                    <widget-cell fill clickable ng-click="showDetails(item)">
                        <wc fill>
                            <div class="itemName">{{item.remaining}}</div>
                            <div>Until {{item.name}}</div>
                        </wc>
                        <widget-cell>
                            <widget-icon name="angle-right"></widget-icon>
                        </widget-cell>
                    </widget-cell>
                </widget-row>
            </widget-list>
        </widget-searching>
        <widget-not-searching>

            <widget-list list="item in countdowns.value | orderBy : 'timeremaining' | filter : {favorite: favorites?true:undefined} track by item.id" show-items="5">
                <widget-row>
                    <wc clickable ng-click="toggleFavorite(item)">
                        <widget-icon name="{{item.favorite?'star':'star-empty'}}"></widget-icon>
                    </wc>
                    <widget-cell fill clickable ng-click="showDetails(item)">
                        <wc fill>
                            <div class="itemName">{{item.remaining}}</div>
                            <div>Until {{item.name}}</div>
                        </wc>
                        <widget-cell>
                            <widget-icon name="angle-right"></widget-icon>
                        </widget-cell>
                    </widget-cell>
                </widget-row>
            </widget-list>
        </widget-not-searching>
    </widget-search>
</script>

<!-- New Countdown View -->
<script type="text/ng-template" id="countdownNew.html">
    <widget-row>
        <widget-cell>
            <h2>Create New Countdown</h2>
        </widget-cell>
    </widget-row>

    <widget-row>
        <widget-cell>
            <form onsubmit="false">
                <div class="form-group form-group-lg">
                    <label for="countdownName">Name</label>
                    <input type="text" ng-model="newCountdown.name" class="form-control" id="countdownName" placeholder="Name" />
                </div>
                <div class="form-group" style="width:50%">
                    <label for="countdownDate">Date</label>
                    <div class="input-group">
                        <input type="text" uib-datepicker-popup is-open="datePickerOpen" popup-placement="right" ng-model="newCountdown.deadline" class="form-control" id="countdownDate" placeholder="Date" />
                        <span class="input-group-btn">
            				<button type="button" class="btn btn-default" ng-click="datePickerOpen=!datePickerOpen">
                            	<widget-icon name="calendar"></widget-icon>
                            </button>
          				</span>
                    </div>


                </div>
                <div class="form-group">
                    <label for="countdownTime">Time</label>
                    <div uib-timepicker ng-model="newCountdown.deadline" id="countdownTime" placeholder="Time"></div>
                </div>

                <div class="form-group">
                    <button type="submit" ng-click="createCountdown(newCountdown)" class="btn btn-primary">Create</button>
                </div>
            </form>
            <div style="height:100px">

            </div>
        </widget-cell>
    </widget-row>
</script>

<!-- Edit Countdown View -->
<script type="text/ng-template" id="countdownEdit.html">
    <widget-row>
        <widget-cell>
            <h2>Editing: {{countdownEdit.name}}</h2>
        </widget-cell>
    </widget-row>

    <widget-row>
        <widget-cell>
            <form onsubmit="false">
                <div class="form-group form-group-lg">
                    <label for="countdownName">Name</label>
                    <input type="text" ng-model="countdownEdit.name" class="form-control" id="countdownName" placeholder="Name" />
                </div>
                <div class="form-group">
                    <label for="countdownDate">Date</label>
                    <input type="date" ng-model="countdownEdit.deadline" class="form-control" id="countdownDate" placeholder="Date" />
                </div>
                <div class="form-group">
                    <label for="countdownTime">Time</label>
                    <input type="time" ng-model="countdownEdit.deadline" class="form-control" id="countdownTime" placeholder="Time" />
                </div>
                <div class="form-group">
                    <button type="submit" ng-click="saveEdit(countdownEdit)" class="btn btn-success">Save</button>
                    <button type="button" ng-click="cancelEdit(countdownEdit)" class="btn btn-danger">Cancel</button>
                </div>
            </form>
        </widget-cell>
    </widget-row>
</script>

<!-- Detail View -->
<script type="text/ng-template" id="countdownDetails.html">
    <wr>
        <wc fill>
            <h2>{{detailsItem.value.name}}</h2>
        </wc>
        <wc clickable ng-click="editCountdown(detailsItem.value)">
            <widget-icon name="edit"></widget-icon>
        </wc>
        <wc clickable ng-click="deleteCountdown(detailsItem.value)">
            <widget-icon name="trash-empty"></widget-icon>
        </wc>
        <wc clickable ng-click="toggleFavorite(detailsItem.value)">
            <widget-icon name="{{detailsItem.value.favorite?'star':'star-empty'}}"></widget-icon>
        </wc>
    </wr>
    <wr>
        <wc>
            <div class="pDetails">
                {{detailsItem.value.remaining}}
            </div>
        </wc>
    </wr>
    <wr>
        <wc>
            {{detailsItem.value.deadline | momentDate : 'MMMM DD YYYY, h:mm'}}
        </wc>
    </wr>
</script>